*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-color: pink;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
main #text{
    width: 28%;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 18.5%;
    left: 18.5%;
    border-radius: 50px;
    border: 5px solid pink;
    text-align: center;
}
main #text #msg {
    width: 100%;
    height: 200px;
    margin: 40px auto;
    
}
@media screen and (max-width: 800px) {
    main #text{
        width: 40%;
        position: absolute;
        top: 10%;
        left: 40px;
        border-radius: 20px;
        border: 5px solid pink;
    }  
    
}
@media screen and (max-width: 400px) {
    main #text{
        width: 80%;
        position: absolute;
        top: 5%;
        left: 40px;
        border-radius: 20px;
        border: 5px solid pink;
    }  
    
}
@media screen and (max-width: 350px) {
    main #text{
        width: 90%;
        position: absolute;
        top: 2%;
        left: 20px;
        border-radius: 20px;
        border: 5px solid pink;
    }  
    main{
        background-size: 300px 400px;
       }
    
}
@media screen and (max-width: 324px) {
    main #text{
        width: 95%;
        position: absolute;
        top: 10%;
        left: 10px;
        border-radius: 20px;
        border: 5px solid pink;
    }  
    
}
@media screen and (max-width: 300px) {
    main #text{
        width: 100%;
        position: absolute;
        top: 3%;
        left: 1px;
        border-radius: 20px;
        border: 5px solid pink;
    }  
    main #text #msg{
        margin: 35px auto;
    }
    main{
        background-size: 300px 400px;
       }
}
@media screen and (max-width: 280px) {
    main #text{
        width: 99%;
        position: absolute;
        top: 5%;
        left: 1px;
        border-radius: 20px;
        border: 5px solid pink;
    }  
    main #text #msg{
        margin: 30px auto;
    }
    main{
        background-size: 300px 350px;
       }
    
}
@media screen and (max-width: 150px) {
    main #text{
        width: 99%;
        position: absolute;
        
        left: 1px;
        border-radius: 20px;
        border: 5px solid pink;
    }  
    main #text #msg{
        margin: 20px auto;
    }
    main{
     background-size:200px 300px;
    }
   
    
}
